phonero_original.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://schemas.microsoft.com/office/Outlook/2006/OMS"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified"
    targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS">

      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="GetServiceInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsUser"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsData"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="DeliverXmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendXms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsData"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendXmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="SendXmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1"
            name="buildNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="CheckVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters"
    element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters"
    element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverXms" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsSoapOut">
    <wsdl:part name="parameters"
    element="tns:DeliverXmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendXmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendXms" />
  </wsdl:message>
  <wsdl:message name="SendXmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendXmsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckVersion" />
  </wsdl:message>
  <wsdl:message name="CheckVersionSoapOut">
    <wsdl:part name="parameters"
    element="tns:CheckVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="OMSServiceSoap">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <wsdl:input message="tns:DeliverXmsSoapIn" />
      <wsdl:output message="tns:DeliverXmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <wsdl:input message="tns:SendXmsSoapIn" />
      <wsdl:output message="tns:SendXmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <wsdl:input message="tns:CheckVersionSoapIn" />
      <wsdl:output message="tns:CheckVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OMSServiceSoap" type="tns:OMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetServiceInfo"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetUserInfo"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXms"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SendXms"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/CheckVersion"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OMSServiceSoap12" type="tns:OMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetServiceInfo"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetUserInfo"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXms"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SendXms"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/CheckVersion"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OMSService">
    <wsdl:port name="OMSServiceSoap" binding="tns:OMSServiceSoap">
      <soap:address location="https://services.gomobile.no/omsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="OMSServiceSoap12"
    binding="tns:OMSServiceSoap12">
      <soap12:address location="https://services.gomobile.no/omsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
