redoxygen_original.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="http://schemas.microsoft.com/office/Outlook/2006/OMS"
xmlns:s="http://www.w3.org/2001/XMLSchema"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  Red Oxygen Microsoft Outlook Mobile Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified"
    targetNamespace="http://schemas.microsoft.com/office/Outlook/2006/OMS">

      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="GetServiceInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsUser"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendXms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsData"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendXmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="SendXmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsData"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="DeliverXmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXmsBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="packageXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverXmsBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="DeliverXmsBatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignupData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsUser"
            type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignupDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="GetSignupDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSignupData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmsUser"
            type="s:string" />
            <s:element minOccurs="0" maxOccurs="1"
            name="xmsSignupData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSignupDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1"
            name="SubmitSignupDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters"
    element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters"
    element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendXmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendXms" />
  </wsdl:message>
  <wsdl:message name="SendXmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendXmsResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverXms" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsSoapOut">
    <wsdl:part name="parameters"
    element="tns:DeliverXmsResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsBatchSoapIn">
    <wsdl:part name="parameters" element="tns:DeliverXmsBatch" />
  </wsdl:message>
  <wsdl:message name="DeliverXmsBatchSoapOut">
    <wsdl:part name="parameters"
    element="tns:DeliverXmsBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetSignupDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSignupData" />
  </wsdl:message>
  <wsdl:message name="GetSignupDataSoapOut">
    <wsdl:part name="parameters"
    element="tns:GetSignupDataResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSignupDataSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSignupData" />
  </wsdl:message>
  <wsdl:message name="SubmitSignupDataSoapOut">
    <wsdl:part name="parameters"
    element="tns:SubmitSignupDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Red_x0020_OxygenSoap">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <wsdl:input message="tns:SendXmsSoapIn" />
      <wsdl:output message="tns:SendXmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <wsdl:input message="tns:DeliverXmsSoapIn" />
      <wsdl:output message="tns:DeliverXmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeliverXmsBatch">
      <wsdl:input message="tns:DeliverXmsBatchSoapIn" />
      <wsdl:output message="tns:DeliverXmsBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSignupData">
      <wsdl:input message="tns:GetSignupDataSoapIn" />
      <wsdl:output message="tns:GetSignupDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSignupData">
      <wsdl:input message="tns:SubmitSignupDataSoapIn" />
      <wsdl:output message="tns:SubmitSignupDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Red_x0020_OxygenSoap"
  type="tns:Red_x0020_OxygenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetServiceInfo"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetUserInfo"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SendXms"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXms"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXmsBatch">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXmsBatch"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignupData">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetSignupData"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSignupData">
      <soap:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SubmitSignupData"
      style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Red_x0020_OxygenSoap12"
  type="tns:Red_x0020_OxygenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetServiceInfo"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetUserInfo"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendXms">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SendXms"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXms">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXms"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliverXmsBatch">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/DeliverXmsBatch"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignupData">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/GetSignupData"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSignupData">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/Outlook/2006/OMS/SubmitSignupData"
      style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Red_x0020_Oxygen">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    Red Oxygen Microsoft Outlook Mobile
    Service</wsdl:documentation>
    <wsdl:port name="Red_x0020_OxygenSoap"
    binding="tns:Red_x0020_OxygenSoap">
      <soap:address location="https://www.redoxygen.net/oms/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Red_x0020_OxygenSoap12"
    binding="tns:Red_x0020_OxygenSoap12">
      <soap12:address location="https://www.redoxygen.net/oms/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
